.navBar {
  color: aliceblue;
  font-size: 14px;
  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 30px;
    }
  }
}
