.navBar {
  font-size: 14px;
  position: fixed;
  color: white;
  top: 0;
  width: 100%;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.6) 60%);

  &.scrolled {
    background-color: black;
  }

  .container {
    height: 50px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      img {
        height: 40px;
        width: auto;
        margin-right: 40px;
      }
      span {
        margin-right: 20px;
        cursor: pointer;
      }
    }
    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }
      .profile {
        .options {
          display: none;
          background-color: black;
          border-radius: 5px;
        }
        span {
          padding: 10px;
          cursor: pointer;
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}
