.about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about-left {
  flex: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: red;
  height: 100%;
}
.about-right {
  flex: 1;
}
.about-card.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: black;
}
.about-card {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
