.featured {
  height: 90vh;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .info {
    width: 30%;
    height: 20%;
    left: 80px;
    top: 300px;
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    img {
      width: 300px;
    }
    .description {
      margin: 20px 0px;
    }
    .buttons {
      display: flex;
      button {
        padding: 10px 20px;
        margin-left: 5px;
        border-radius: 5px;
        border: none;

        &:hover {
          cursor: pointer;
          color: bisque;
        }
      }
    }
  }
}
