
<html lang="en">
  <head>
    <title>Details</title>
  </head>
  <body>
    <div class="details-content">
      <h2><%= title %></h2>
      <div class="content">
        <p><%= body %></p>
      </div>
    </div>
  </body>
</html>
