@font-face {
  font-family: roboto-condensed;
  src: url("../src/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}
body {
  font-family: roboto-condensed;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  size-adjust: initial;
}
